/*TODO*/
body {
    font-family: Roboto, sans-serif;
    font-size: medium;
    text-align: center;
    background: #FFFFFF;
}
h1{
    font-size: 70px;
}
h2 {
    /* Set h2 to relative and top: 135px so that it can
    be moved down without moving the boxes as well */
    position: relative;
    top: 135px;
    font-size: 30px;
}
.all-boxes {
    margin-top: 175px;
}
.top-boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns boxes to top */
    gap: 40px; /* Sets gaps between the top boxes in px */
    margin-top: 40px;
}
.bottom-box {
    text-align: center;
    margin-top: 20px; /* Sets the vertical gap between the top boxes and the bottom one */
    border: solid 10px black;
    display: inline-block;
    border-radius: 48px;
    width: 845px;
    padding-bottom: 300px;
    margin-left: 3px;
}
.box {
    display: inline-block; /* Inline block instead of flex for horizontal alignment */
    margin: 0 10px; /* Sets the horizontal margin for spacing between boxes */
    vertical-align: top;
}
.value {
    border: solid 10px black;
    width: 230px;
    height: 240px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the values inside the boxes */
    font-size: 24px;
}
.label {
    margin-top: 10px;
    font-size: 16px;
}
