/*TODO
    - Align temperature and humidity text
    - Remove inner boxes when done coding!!!
*/
body {
    font-family: Roboto, sans-serif;
    font-size: medium;
    text-align: center;
    background: #FFFFFF;
}
h1 {
    font-size: 70px;
}
h2 {
    /* Set h2 to relative and top: 135px so that it can
    be moved down without moving the boxes as well */
    position: relative;
    top: 135px;
    font-size: 30px;
}
.all-boxes {
    margin-top: 175px;
}
/* Top three boxes */
.top-boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns boxes to top */
    gap: 40px; /* Sets gaps between the top boxes in px */
    margin-top: 40px;
}
.box {
    display: inline-block; /* Inline block instead of flex for horizontal alignment */
    margin: 0 10px; /* Sets the horizontal margin for spacing between boxes */
    vertical-align: top;
}
.value {
    border: solid 10px black;
    width: 230px;
    height: 240px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the values inside the boxes */
    font-size: 24px;
}
/* Smaller values for bottom box */
.valueLow {
    font-size: 20px;
}
.label {
    margin-top: 10px;
    font-size: 16px;
}
/* Large bottom container box */
.bottom-box {
    text-align: center;
    margin: 20px auto; /* Sets the vertical gap between the top boxes and the bottom one */
    border: solid 10px black;
    border-radius: 48px;
    width: 840px;
    padding: 3px;
    display: grid;  /* Organize elements as grid */
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: 190px 190px; /* Two equal rows */
    gap: 5px;
}
/* Styles for the elements in the grid */
.boxAtm, .boxAlt, .boxWSR, .boxCOR, .boxUV {
    border: solid 5px black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
/* Positioning of each element in the grid */
.boxAtm { grid-column: 1; grid-row: 1; } /* Top left */
.boxAlt { grid-column: 1; grid-row: 2; } /* Below Atm */
.boxWSR { grid-column: 2; grid-row: 1; } /* Top middle */
.boxCOR { grid-column: 2; grid-row: 2; } /* Below WSR */
.boxUV  { grid-column: 3; grid-row: 1 / span 2; height: 374px; } /* Tall box on the right */
